<link rel="stylesheet" href="./ClaroAdm/materials/materials.css">
<div>
    <form name="register" novalidate ng-submit="methods.register(material)">
        <div class="form-group">
            <label>Título</label>
            <input type="text" name="title" class="form-control" ng-model="material.title" required>
            <span ng-show="(register.title.$touched || submitted) && register.title.$invalid">Título obrigatório</span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea name="description" class="form-control" ng-model="material.description" required></textarea>
            <span ng-show="(register.description.$touched || submitted) && register.description.$invalid">Sobrenome obrigatório</span>
        </div>
        <div class="form-group">
            <label>Vigência</label>
            <input options="actions.dateConfig" date-range-picker class="form-control date-picker" type="text" ng-model="material.validy"
                required/>
            <span ng-show="submitted && !material.validy">Vigência obrigatório</span>
        </div>
        <hr>
        <div class="form-group">
            <label>Grupo de DDD</label>
            <div class="form-group" ng-repeat="ddd in ddds">
                <input type="checkbox" ng-model="checkDDD" ng-change="methods.getDDD(ddd, checkDDD)">
                <label ng-bind="ddd.name"></label>
            </div>
        </div>
        <hr>
        <div >
            <h3>Selecione imagens para o material</h3>
        </div>
        <div class="clearfix">
            <div class="add-sheet">
                <i class="far fa-plus-square mr-10" ng-model="sheets" ngf-no-object-url="true" ngf-select="methods.uploadFiles($files)" multiple="multiple"></i>
            </div>
            <div ng-if="editImage == false" class=" mb-50">
                <div class="thumb-material" ng-repeat="sheet in material.sheets track by $index" >
                    <img ngf-src="sheet | ngfDataUrl" class="img-thumbnail">
                    <div class="mt-10">
                        <button type="button" class="btn btn-info" ng-click="methods.editImage(sheet)"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" ng-click="methods.removeSheet($index)"><i class="fas fa-minus-circle"></i></button>
                    </div>
                </div> 
            </div>
            
        </div>
        <div ng-if="editImage == true">
            <img ng-areas="fields" ng-areas-width="300" ng-areas-allow="{'edit':true, 'move':true, 'resize':true, 'select':true, 'remove':true, 'nudge':true}"
            ng-areas-on-add="methods.onAddArea" ng-areas-on-remove="methods.onRemoveArea" ng-areas-on-change="methods.onChangeArea"
            ng-src="{{material.detailImg}}">
            <button class="btn btn-info" ng-click="methods.saveArea(fields)">Salvar áreas</button>
        </div>
        <div class="" style="width:100%; float: left; margin-top:50px">
            <button class="btn btn-danger" type="submit">Cadastrar</button>
        </div>
    </form>
</div>
<div id="modalArea" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="newArea" novalidate ng-submit="methods.confirmArea(area)">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" name="name" class="form-control" ng-model="area.name" required>
                        <span ng-show="(newArea.name.$touched || submitted) && newArea.name.$invalid">Título obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" name="url" class="form-control" ng-model="area.url" required>
                        <span ng-show="(newArea.url.$touched || submitted) && newArea.url.$invalid">Url obrigatória</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
