<link rel="stylesheet" href="./ClaroAdm/materials/materials.css">
<div style="max-width:800px;margin: 0 auto">
    <div class="pull-right">
        <button class="btn btn-info" ng-if="editArea == false" ng-click="methods.editArea()">Editar áreas</button>
        <button class="btn btn-info" ng-if="editArea" ng-click="methods.saveArea()">Salvar Área</button>
    </div>
    <div ng-if="editArea">
        <img ng-areas="fields" ng-areas-width="600"
        ng-areas-allow="{'edit':true, 'move':true, 'resize':true, 'select':true, 'remove':true, 'nudge':true}"
        ng-areas-on-add="methods.onAddArea"
        ng-areas-on-remove="methods.onRemoveArea"
        ng-areas-on-change="methods.onChangeArea"
        ng-src="{{sheetSelect.image_lg}}">
    </div>
    <div ng-if="editArea == false" style="position:relative; width:600px" >
        <img ng-src="{{sheetSelect.image_lg}}">
        <div id="result-image"></div>
        <!-- <map name="map-area" id="map-area"></map> -->
    </div>
</div>
<div id="modalArea" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="newArea" novalidate ng-submit="methods.confirmArea(area)">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" name="name" class="form-control" ng-model="area.name" required>
                        <span ng-show="(newArea.name.$touched || submitted) && newArea.name.$invalid">Título obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" name="url" class="form-control" ng-model="area.url" required>
                        <span ng-show="(newArea.url.$touched || submitted) && newArea.url.$invalid">Url obrigatória</span>
                    </div>
                    <button type="submit"  class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
