<link rel="stylesheet" href="./ClaroAdm/users/users.css">
<div>
    <h2>Usuários</h2>
    <button ng-click="methods.registerModal()" class="btn btn-danger">Novo usuário</button>
    <div class="panel panel-default ">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Celular</th>
                <th>E-mail</th>
                <th>Criado em</th>
                <th>Ativado</th>
                <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users track by $index">
                    <td ng-bind="user.id"></th>
                    <td ng-bind="user.firstname"></td>
                    <td ng-bind="user.lastname"></td>
                    <td ng-bind="user.cellphone"></td>
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.created_at | amUtc | amDateFormat:'DD/MM/YYYY HH:mm:ss'"></td>
                    <td>
                        <toggle ng-model="user.statusFlag" ng-change="methods.edit(user)" on="Ativado" off="Desativado"></toggle>
                    </td>
                    <td>
                        <button title="Editar" ng-click="methods.editModal(user)" class="btn btn-info" type="button"><i class="far fa-edit"></i></button>
                        <button title="Deletar" ng-click="methods.delete(user)" class="btn btn-danger" type="button"><i class="fas fa-minus-circle"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                          <ul uib-pagination total-items="totalItems" max-size="rangePagination" ng-model="currentPage" ng-change="methods.pageChanged(currentPage)" class="no-margin" next-text="Próximo" previous-text="Anterior"></ul>  
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--MODAIS-->
<div id="modalRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="register" novalidate ng-submit="methods.register(user)">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
                        <span ng-show="(register.firstname.$touched || submitted) && register.firstname.$invalid">Nome obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Sobrenome</label>
                        <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
                        <span ng-show="(register.lastname.$touched || submitted) && register.lastname.$invalid">Sobrenome obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" name="email" ng-model="user.email" required>
                        <span ng-show="(register.email.$touched || submitted) && register.email.$invalid">Email obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="cellphone" class="form-control" ng-model="user.cellphone" mask="(99) 9?9999-9999" required>
                        <span ng-show="(register.cellphone.$touched || submitted) && register.cellphone.$invalid">Celular obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" ng-model="user.username" required>
                        <span ng-show="(register.username.$touched || submited) && register.username.$invalid">Username obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>DDD</label>
                        <select name="ddd_group_id" class="form-control" ng-options="item.id as item.name for item in ddds track by item.id" ng-model="user.ddd_group_id"></select>
                        <span ng-show="(register.ddd_group_id.$touched || submited) && register.ddd_group_id.$invalid">Selecione um DDD</span>
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" name="password" class="form-control" ng-model="user.password" required>
                        <span ng-show="register.password.$touched && register.password.$invalid">Digite uma senha</span>
                    </div>
                    <div class="form-group">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-control" name="confirm_password" ng-model="user.confirm_password" require>
                        <span ng-show="(register.confirm_password.$touched || submitted) && register.confirm_password.$invalid">Digite uma senha</span>
                        <span ng-show="(register.confirm_password.$touched || submited) && user.confirm_password != user.password">Senha não corresponde</span>
                    </div>
                    <button type="submit"  class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="edit" novalidate ng-submit="methods.edit(user)">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
                        <span ng-show="(edit.firstname.$touched || submitted) && edit.firstname.$invalid">Nome obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Sobrenome</label>
                        <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
                        <span ng-show="(edit.lastname.$touched || submitted) && edit.lastname.$invalid">Sobrenome obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" name="email" ng-model="user.email" required>
                        <span ng-show="(edit.email.$touched || submitted) && edit.email.$invalid">Email obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="cellphone" class="form-control" ng-model="user.cellphone" mask="(99) 9?9999-9999" required>
                        <span ng-show="(edit.cellphone.$touched || submitted) && edit.cellphone.$invalid">Celular obrigatório</span>
                    </div>
                    <button type="submit"  class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>