body{
    height: 100vh;
    background-color: white;
    color: black;
}
h2{
	color:#ac2925;
}
header{
	width: 100%;
	margin: 0 auto;
}
header .line{
	background: #ac2925;
	width: 100%;
	height: 7px
}
header .navbar-default .navbar-nav>li>a{
	color: #ac2925;
}
header .navbar-default .navbar-nav>li>a:hover{
	cursor: default;
}
header .logo img{
	max-height: 40px;
}
footer{
	width:100%;
	background: #ac2925;
	position: fixed;
	bottom: 0px;
	color: white;
}
.relative{
	position: relative;
}
.btn-corn{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.select-areas-delete-area{
	display: block!important;
}
area{
	cursor:pointer;
	border:solid 2px blue;
}
.img-logo{
	width: 100px;
	margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 170px;
	background-image: url('../../ClaroAdm/img/logo.png');
}
form .form-group span{
	color:red;
}
.conteudo-admin > h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 31px;
	text-align: center;
}
.conteudo-admin > h1 > b{
	color: #33a8df;
}
.conteudo-admin > h1 > b > span{
	color: #ff531a;
}

