
.dashboard{
	width: 90%;
	margin: 0 auto;
}
.nav-dashboard{
	margin: 0 auto;
}
.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0!important;
}
/* Paginação */
.pagination>li>a, .pagination>li>span {
    color: #fff;
    background-color: #3a4450;
    border:none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #ff531a;
    border-color: #337ab7;
}
.pagination>li>a{
	cursor: pointer;
}
/* Fim Paginação */
.table-total{
	background-color: #2f3841;
	padding-right: 15px;
}
.total-pesquisa{
	margin: 0;
}
.total-pesquisa > span{
	font-size: 18px;
	color: #33a8df;
	font-weight: bold;
}
th.total-users {
    text-align: right;
    color: #fff;
}
th.total-users > span {
   font-size: 18px;
   font-weight: bold;
   color: #ff531a;
}
.cabeçalho-tabela > p {
	display:  inline-block;
}
.search{
	padding: 0;
	position: relative;
}
.search > i {
	position: absolute;
    top: 9px;
    left: 15px;
}
.search > input{
	border: none;
	border-radius: 18px;
	background-color: #3a4450;
	padding-left: 45px;
	color: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border: none;
	line-height: 34px;
	font-weight: normal;
}
.table>tbody>tr>th{
	text-align: center;
	line-height: 34px;
}
.list-users{
    text-transform: uppercase;
    color: #33a8df;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: normal;
}
.tabela > .cabeçalho-tabela{
	color: #ff531a;
	background-color: #29323b;
}
.tabela > .cabeçalho-tabela > tr > th:first-child{
	text-align: center;
}
.users > tr > td {
	line-height: 18px!important;
}
	/* CORES DA PAGINAÇÃO */
.pagination>.disabled>a, .pagination>.disabled>a:hover {
	background-color: #29323b;
	color: #fff;
}
.pagination-dash ul > li > a:hover{
	background-color: #29323b;
	color: #fff;
}
	/* CORES DA PAGINAÇÃO */

	/* Zebra(cores) da tabela */
.odd {
  background-color:#3a4450!important;
}
.table-striped>tbody>tr:nth-of-type(odd){
	cursor: pointer;
	background-color: #29323b;
	border: none;
}
.table-striped>tbody>tr{
	background-color: #29323b;
}
.table>tbody+tbody{
	border-top: none;
}

	/* Fim Zebra(cores) da tabela */

label.btn.btn-primary.toggle-on {
    background-color: #33a8df;
}
/* BUTTON EXPORT */
.button-export{
	background-color: #33a8df;
}
.button-export:hover{
	background-color: #2a9fd5;
	color: #fff;
}
/* BUTTON EXPORT */

/* MODAL DETAIL USER */
	.modal-header{
		border-bottom: 0;
	}

	.modal-title{
		padding-bottom: 5px;
		color: #3a4450;
	    font-weight: bold;
	    font-size: 25px;
	    margin-bottom: 15px;
	    border-bottom: 1px solid #3a4450;
	}
	.modal-content{
		background-color: #f1f1f1;
		border-radius: 0;
	}
	.avatar {
	    padding: 20px;
	}
	.avatar > img {
		border: 8px solid #3a4450;
		border-radius: 50%;
	}
	.dados-user{
		padding: 20px 0 0 0;
		color: #29323b;
	}
	.dados-user > ul {
		padding-left: 0px;
	}
	.dados-user > ul > li {
    	list-style: none;
		margin: 0;
	}
	.dados-user > h4{
		font-weight: bold;
		font-size: 18px;
	}
	.button-close{
		width: 110px;
	    background-color: #ff531a;
	    color: #fff;
	    border: none;
	    border-radius: 16px;
	}
	.button-close:hover{
		color: #fff;
		background-color: #f75701;
	}
/* MODAL DETAIL USER */

/* LOADER */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2f3841;
	opacity: 0.7;
	z-index: 9999999;
	height: 100%;
	width: 100%;
	display: none;
}
.no-js #preloader, .oldie #preloader {
	display: none;
}
#loader {
	color: #f75701;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	padding: 0;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* LOADER */
@media (max-width:510px){
	.pagination>li>a, .pagination>li>span {
		font-size: 13px;
    	padding: 5px 9px;  
	}
	.pagination{
		margin:5px;
	}
	.search > input {
    	margin: 15px 0px ;
    }
    .list-users{
		font-size: 14px;
		margin-top: 7%;
		text-align: center;
	}
}
@media (max-width:530px){
	.total-users{
		font-size: 11px;
	}
	th.total-users > span{
		font-size: 15px;
	}
	.total-pesquisa {
		font-size: 11px;
		color: #fff;
	}
	.total-pesquisa > span{
		font-size: 15px;
		color: #33a8df;
		font-weight: bold;

	}
}
@media (max-width:710px){
	.conteudo-admin > h1 {
	   	font-size: 1.2em;
	}
}
@media (max-width:990px){
	.search > input {
    	margin-bottom: 5px;
    }
}
